{
    https_port 8443
}

$DOMAIN {
    handle $DASHBOARD_PATH {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle $SUBSCRIPTION_PATH {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle /api/* {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle /statics/* {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle {
        reverse_proxy jellyfin:8096
    }
}