{
    https_port 8443
}

{$DOMAIN} {
    @dashboard_path path {$DASHBOARD_PATH}
    @subscription_path path {$SUBSCRIPTION_PATH}
    handle @dashboard_path {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle @subscription_path {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle /api/* {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle /statics/* {
        reverse_proxy unix//var/lib/marzban/marzban.socket
    }
    handle {
        reverse_proxy jellyfin:8096
    }
}